include LICENSE-MIT
include LICENSE-APACHE
include README.md
include requirements.txt
include scripts/download_artifacts.py
include scripts/castlabs_release.py
recursive-include release *.json
recursive-include src/c2pa *.py
